*.psess
*.vsp
*.log
*.tlog
*.lastbuildstate
*.err
*.wrn
*.suo
*.sdf
*.user
*.i
*.vspscc
*.opensdf
*.pch
*.ipch
*.cache
*.ilk
*.obj
*.iobj
*.aps
*.zip
/src/.vs
/src/ipch
/src/Win32
/src/x64
/src/SyghUV2SVG/Win32
/src/SyghUV2SVG/x64
/src/SyghUVBBox/Win32
/src/SyghUVBBox/x64
/src/SyghUVImplant/Win32
/src/SyghUVImplant/x64
/src/SyghUVMatrix/Win32
/src/SyghUVMatrix/x64
/src/SyghUVSelectUtil/Win32
/src/SyghUVSelectUtil/x64
/src/_mqsdk/MQ3DLib.cpp
/src/_mqsdk/MQ3DLib.h
/src/_mqsdk/MQBasePlugin.cpp
/src/_mqsdk/MQBasePlugin.h
/src/_mqsdk/MQInit.cpp
/src/_mqsdk/MQPlugin.cpp
/src/_mqsdk/MQPlugin.h
/src/_mqsdk/MQSetting.cpp
/src/_mqsdk/MQSetting.h
