*.psess
*.vsp
*.log
*.tlog
*.lastbuildstate
*.err
*.wrn
*.suo
*.sdf
*.user
*.i
*.vspscc
*.opensdf
*.pch
*.ipch
*.cache
*.ilk
*.obj
*.iobj
*.aps
*.zip
/src/.vs
/src/ipch
/src/Win32
/src/x64
/src/SyghMQUV2SVG/Win32
/src/SyghMQUV2SVG/x64
/src/SyghMQUVBBox/Win32
/src/SyghMQUVBBox/x64
/src/SyghMQUVImplant/Win32
/src/SyghMQUVImplant/x64
/src/SyghMQUVMatrix/Win32
/src/SyghMQUVMatrix/x64
/src/SyghMQUVSelectUtil/Win32
/src/SyghMQUVSelectUtil/x64
/src/_mqsdk/MQ3DLib.cpp
/src/_mqsdk/MQ3DLib.h
/src/_mqsdk/MQBasePlugin.cpp
/src/_mqsdk/MQBasePlugin.h
/src/_mqsdk/MQInit.cpp
/src/_mqsdk/MQPlugin.cpp
/src/_mqsdk/MQPlugin.h
/src/_mqsdk/MQSetting.cpp
/src/_mqsdk/MQSetting.h
